<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>

    <h1>Library</h1>

    <form>
        <input type="text" name="name" placeholder="meno">
        <button type="submit">odoslat</button>
    </form>

    <table>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>BIO</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{ author.author_id }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.bio }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>